<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>FPA</title>
	<meta name="description" content="GotYa Free Bootstrap Theme"/>
	<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
	<meta name="author" content="Łukasz Holeczek from creativeLabs"/>
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!--start: Header -->
	<header>

		<!--start: Container -->
		<div class="container">

			<!--start: Row -->
			<div class="row">

				<!--start: Logo -->
				<div class="logo span3">

					<a class="brand" href="#"><h1>Fake Account Detector</h1></a>

				</div>
				<!--end: Logo -->

				<!--start: Navigation -->
				<div class="span9">

					<div class="navbar navbar-inverse">
			    		<div class="navbar-inner">
			          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			          		</a>
			          		<div class="nav-collapse collapse">
			            		<ul class="nav">
			              			<li class="active"><a href="/">Home</a></li>
			              			<li><a href="model">Detector</a></li>
									<li><a href="prediction">Predict</a></li>
									<li><a href="#">Graph</a></li>
			            		</ul>
			          		</div>
			        	</div>
			      	</div>

				</div>
			</div>
		</div>
	</header>
	<div class="slider-wrapper">

		<div id="da-slider" class="da-slider">
			<div>
                <table class="table" border="2">
							<thead class="thead-dark">
							{% for i in df %}
							<th style="padding-right: 0px;padding-left: 0px;text-align:center;">{{ i }}</th>
							{% endfor %}
							</thead>
							<tbody>
							{% for j in df.values %}
							<tr>
								{% for i in j %}
								<td style="color:black;text-align:center;">{{ i }}</td>
								{% endfor %}
							</tr>
							{% endfor %}

							</tbody>
                        </table><br>
				<br>
				<br>
				<br>

			</div>
		</div>

	</div>
	<!-- end: Slider -->

	<!--start: Wrapper-->

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/flexslider.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.cslider.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script -->

</body>
</html>